In [1]:
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
rankings = pd.read_csv('/Users/tjscanlan/Desktop/nba_rankings_2014-2020.csv')

In [3]:
rankings.head()

,PLAYER,TEAM,AGE,SEASON,GP,W,L,MIN,PTS,FGM,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,rankings
0,Aaron Gordon,ORL,24,2019-20,62,30,32,32.5,14.4,5.4,...,3.7,1.6,0.8,0.6,2.0,31.9,20,1,-1.1,80
1,Aaron Holiday,IND,23,2019-20,66,42,24,24.5,9.5,3.5,...,3.4,1.3,0.8,0.2,1.8,19.3,3,0,1.7,76
2,Abdel Nader,OKC,26,2019-20,55,37,18,15.8,6.3,2.2,...,0.7,0.8,0.4,0.4,1.4,11.1,0,0,-1.5,71
3,Adam Mokoka,CHI,21,2019-20,11,3,8,10.2,2.9,1.1,...,0.4,0.2,0.4,0.0,1.5,5.5,0,0,4.5,68
4,Admiral Schofield,WAS,23,2019-20,33,9,24,11.2,3.0,1.1,...,0.5,0.2,0.2,0.1,1.5,6.3,0,0,-1.7,71

In [4]:
rankings[["GP", "MIN", "AGE"]].describe()

                GP          MIN          AGE
count  2412.000000  2412.000000  2412.000000
mean     55.381012    21.516086    26.314677
std      22.816590     8.762708     4.148336
min       1.000000     0.500000    19.000000
25%      40.000000    14.900000    23.000000
50%      62.000000    21.500000    26.000000
75%      74.000000    28.900000    29.000000
max      83.000000    38.700000    41.000000

In [5]:
rankings.groupby("TEAM")["PTS"].mean()

TEAM
ATL     9.511538
BKN     9.580000
BOS     8.986207
CHA     9.330263
CHI     9.378824
CLE     9.553571
DAL     9.058442
DEN     9.398795
DET     8.797468
GSW     9.389412
HOU    10.389333
IND     8.915000
LAC    10.172973
LAL     8.981395
MEM     9.133333
MIA     9.722222
MIL     9.793671
MIN     9.828205
NOP    10.679221
NYK     9.052500
OKC     9.420238
ORL     9.146575
PHI     9.702564
PHX     9.500000
POR     9.628750
SAC     9.666667
SAS     9.278082
TOR     9.150000
UTA     9.051852
WAS     9.379518
Name: PTS, dtype: float64

In [6]:
rankings.groupby("SEASON")["PTS"].mean()

SEASON
2014-15     9.481148
2015-16     9.522802
2016-17     9.329262
2017-18     9.414593
2018-19    10.405495
2019-20     8.788955
Name: PTS, dtype: float64

In [7]:
rankings.groupby(["TEAM", "SEASON"])["PTS"].mean()

TEAM  SEASON
ATL   2014-15     9.725000
      2015-16     9.516667
      2016-17     8.985714
      2017-18     8.669231
      2018-19    10.727273
                   ...
WAS   2015-16    10.025000
      2016-17     8.940000
      2017-18     9.530769
      2018-19    12.181818
      2019-20     8.390000
Name: PTS, Length: 180, dtype: float64

In [23]:
players = pd.read_csv('/Users/tjscanlan/Desktop/player_data.csv')

In [24]:
players.rename(columns = {'name':'PLAYER'}, inplace=True)

In [33]:
rankingsPlayers = rankings.merge(players, how='left', on='PLAYER')
rankingsPlayers.groupby('SEASON')